@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  width: 100vw;
  background-color: antiquewhite;
  color: brown;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
}
.head {
  width: 100vw;
  padding: .5rem;
  background: beige;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.left {
  display: flex;
}
.main {
  display: flex;
  justify-content: center;
}
.btnGroup {
  width: 50vw;
  display: flex;
  padding: .5rem;
  justify-content: space-evenly;
}
